
<br />
<br />
<h1>Blog Comment Detail</h1>
<br />
<br />
<div ng-controller="blogcommcntrl">
	<div class="list-group" >
    <div href="#" class="list-group-item" ng-repeat="blogcomm in blogcommdata">
      <h2 class="list-group-item-heading" style="color:#0000A0"> {{blog.blogname}}</h2>
	  <br/>
	  <h3 class="list-group-item-heading" style="color:#0000C0">Published by : {{user1.username}}, Date :  {{blog1.createdate}} ,  Likes: {{blog1.likes}} 
	  </h3>
	<hr/>
	{{blogcomm.blogcommenttext}}
	<hr/>
	<br/><br/><br/>	
	<hr/>
	</div>
	</div>
<br />
	<center><h2> New Blog Comment </h2></center>
	<br/>
<form id="blogcommform" method="post">
		<table style="width: 80%" align="center">
			<tr>
				<td>Blog Name</td>
				<td><input type="text" name="blogname" ng-model="blog1.blogname" /></td>
			</tr>
			<tr>
				<td>Blog Comment </td>
				<td><textarea rows="8" cols="50" ng-model="blogcomm.blogcommenttext"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="Insert" ng-click="insertblogcomm()" /></td>
			</tr>
		</table>
</form>
<br />
<br />
<br />
<br />

</div>

