
<br />
<br />
<br />
<h1>Blog Comment Detail</h1>
<br />
<br />
<br />

<div ng-controller="blogcommcntrl">
	<form id="blogcommform" method="post">
		<table style="width: 80%" align="center">
			<tr>
				<td>Blog Name</td>
				<td><input type="text" name="blogname" ng-model="blog1.blogname" /></td>
			</tr>
			<tr>
				<td>Blog Comment </td>
				<td><textarea rows="8" cols="50" ng-model="blogcomm.blogcommenttext"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="Insert" ng-click="insertblogcomm()" /></td>
			</tr>
		</table>
	</form>
	<br />
	<br />
	<br />
	<table align="center" border="1">
		<tr>
			<td>Blog ID</td>
			<td>Blog Comment ID</td>
			<td>Blog Name</td>
			<td>Blog Comment</td>
			<td>Operation</td>
		</tr>
		<tr ng-repeat="blogcomm in blogcommdata">
			<td>{{blogcomm.blogid}}</td>
			<td>{{blogcomm.blogcommentid}}</td>
			<td>{{blog1.blogname}}</td>
			<td>{{blogcomm.blogcommenttext}}</td>
			<td><input type="submit" value="Delete"	ng-click="deleteblogcomm(blogcomm.blogcommentid)" /> 
				<input type="submit" value="Edit" ng-click="editblogcomm(blogcomm.blogcommentid)" /></td>
		</tr>
	</table>

</div>

