
<br />
<br />
<br />
<h1>All Blog's </h1>
<br />
<a href="#/newblog"><img src="images/newadd.png" style="height:80px;width:80px;padding-right:20px" /></a>
<br />
<br />

<div ng-controller="blogcntrl">
	<div class="list-group" >
    <div href="#" class="list-group-item" ng-repeat="blog in blogdata">
      <h2 class="list-group-item-heading" style="color:#0000A0"> {{blog.blogname}}</h2>
	  <br/>
	  <h3 class="list-group-item-heading" style="color:#0000C0">Published by : {{user1.username}}, Date :  {{blog.createdate}} ,  Likes: {{blog.likes}} 
	  </h3>
	<hr/>
	{{blog.blogcontent}}
	<hr/>
	<br/><br/><br/>	
	<img src="images/like.png" ng-click="incrblog(blog.blogid)" style="height:40px;width:40px;padding-right:20px" />
	<img src="images/delete.jpg" ng-click="deleteblog(blog.blogid)" style="height:40px;width:40px;padding-right:20px"/> 
	<img src="images/update.jpg" ng-click="editblog(blog.blogid)" style="height:40px;width:40px;padding-right:20px" />
	<img src="images/display.png" ng-click="displaycomment(blog.blogid)" style="height:40px;width:40px;padding-right:20px"/>
	<hr/>
	</div>
	</div>
</div>

<script src="c_blog/blogcontroller.js"></script>
<script src="c_blog/blogcommentcontroller.js"></script>

