<br />
<br />
<br />
<center><h1> New Blog </h1></center>
<br />
<br />
<br />

<div ng-controller="blogcntrl">
	<form id="blogform" method="post">
		<table style="width: 80%" align="center">
			<tr>
				<td>Blog Name</td>
				<td><input type="text" name="blogname" ng-model="blog.blogname" /></td>
			</tr>
			<tr>
				<td>Blog content</td>
				<td><textarea rows="8" cols="50" ng-model="blog.blogcontent"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="Insert" ng-click="insertblog()" /></td>
			</tr>
		</table>
	</form>
</div>
	<br />
	<br />
	<br />