
<br />
<br />
<br />
<h1>New Forum Detail</h1>
<br />
<br />
<br />

<div ng-controller="forumcntrl">
	<form id="forumform" method="post">
		<table style="width: 80%" align="center">
			<tr>
				<td>Forum Name</td>
				<td><input type="text" name="forumname" ng-model="forum.forumname" /></td>
			</tr>
			<tr>
				<td>Forum content</td>
				<td><textarea rows="8" cols="50" ng-model="forum.forumcontent"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit"
					value="Insert" ng-click="insertforum()" /></td>
			</tr>
		</table>
	</form>
	<br />
	<br />
	<br />
	

</div>

